@font-face {
  font-family: "Manrope_400";
  src: url(../fonts/Manrope_400.ttf);
}
@font-face {
  font-family: "Manrope_700";
  src: url(../fonts/Manrope_700.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.headphones_container {
  max-width: 1440px;
  margin: 0 auto;
}

.hero_box {
  background-color: #0e0e0e;
  padding-bottom: 97px;
}

.header {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
  padding: 32px 165px;
}

.fa-cart-shopping {
  color: white;
  cursor: pointer;
}

.headphones_title {
  font-family: "Manrope_700";
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header_left {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_ul {
  display: flex;
  list-style: none;
  gap: 34px;
}

.header_link {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  font-family: "Manrope_700";
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s;
}
.header_link:hover {
  color: #d87d4a;
  transition: 0.4s;
}

.fa-bars {
  color: white;
  display: none;
}

.line_box {
  width: 100%;
  height: 1px;
  background-color: #4b4b4b;
  margin-bottom: 98px;
}

.headphones_title {
  font-family: "Manrope_700";
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.headphones_section_group {
  width: 100%;
  padding: 160px 165px;
}

.headphones_section1 {
  width: 100%;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;
}

.headphones_section2 {
  width: 100%;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;
}

.headphones_section3 {
  width: 100%;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;
}

.headphones_s1_left_box {
  width: 540px;
  height: 560px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.headphones_s1_right_box {
  width: 445px;
  height: 343px;
}

.headphone_s1_right_title1 {
  font-family: "Manrope_400";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #d87d4a;
  margin-bottom: 16px;
}

.headphones_s1_right_title2 {
  font-family: "Manrope_700";
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 32px;
}

.headphones_s1_right_text {
  font-family: "Manrope_400";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 40px;
}

.headphones_s1_right_btn {
  width: 160px;
  height: 48px;
  border: transparent;
  transition: 0.4s;
  background-color: #d87d4a;
  font-family: "Manrope_700";
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.headphones_s1_right_btn:hover {
  background-color: #fbaf85;
  transition: 0.4s;
}

.shop_group_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}

.shop_group_card {
  width: 350px;
  height: 284px;
  display: flex;
  padding-top: 80px;
}

.shop_card_content_box {
  width: 100%;
  height: 204px;
  border-radius: 8px;
  background-color: #f1f1f1;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #0e0e0e;
}

.shop_group_img {
  transform: translateY(-80px);
}

.shop_group_link_text {
  width: 100%;
}

.shop_flex {
  width: 100%;
  margin-top: -30px;
}

.shop_flex2 {
  width: 100%;
  margin-top: -19px;
}

.shop_group_title {
  font-family: "Manrope_700";
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 1.29px;
  margin-bottom: 15px;
}

.shop_span {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 13px;
}

.shop_span_text {
  font-family: "Manrope_700";
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1px;
  transition: 0.4s;
}

.shop_card_content_box:hover .shop_span_text {
  color: #d87d4a;
  transition: 0.4s;
}

.shop_card_content_box:hover .fa-arrow-right {
  color: #d87d4a;
  transition: 0.4s;
}

.best_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.best_left_box {
  width: 445px;
  height: 295px;
}

.best_title {
  font-family: "Manrope_700";
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.best_span {
  font-family: "Manrope_700";
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  color: #d87d4a;
}

.best_text {
  font-family: "Manrope_400";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
}

.aman1 {
  display: none;
}

.orange_line_box {
  width: 100%;
  padding: 0px 165px;
  position: relative;
}

.orange {
  width: 101px;
  height: 4px;
  background-color: #d87d4a;
  position: absolute;
}

.footer_container {
  width: 100%;
  background-color: #000000;
  padding: 71px 165px 48px 165px;
}

.footer {
  width: 100%;
}

.footer_navbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 36px;
}

.fo_text_lo_div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.fo_text_box {
  width: 540px;
  height: auto;
  color: white;
}

.fo_text1 {
  font-family: "Manrope_400";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 56px;
}

.fo_text2 {
  font-family: "Manrope_700";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #ffffff;
}

.social_box {
  height: 184px;
  display: flex;
  align-items: center;
  color: white;
  gap: 16px;
}

.fo_li {
  color: white;
  font-size: 24px;
  transition: 0.4s;
}
.fo_li:hover {
  color: #d87d4a;
  transition: 0.4s;
}

@media only screen and (max-width: 1410px) {
  .headphones_section_group {
    padding: 180px 135px;
  }
}
@media only screen and (max-width: 1351px) {
  .headphones_section_group {
    padding: 180px 105px;
  }
}
@media only screen and (max-width: 1310px) {
  .header,
  .main_content_box,
  .footer_container {
    padding: 32px 132px;
  }
  .orange_line_box {
    padding: 0px 132px;
  }
}
@media only screen and (max-width: 1290px) {
  .headphones_section_group {
    padding: 180px 75px;
  }
}
@media only screen and (max-width: 1250px) {
  .header,
  .main_content_box,
  .footer_container {
    padding: 32px 100px;
  }
}
@media only screen and (max-width: 1230px) {
  .headphones_section_group {
    padding: 180px 45px;
  }
}
@media only screen and (max-width: 1170px) {
  .headphones_section_group {
    padding: 180px 15px;
  }
}
@media only screen and (max-width: 1150px) {
  .header,
  .main_content_box,
  .footer_container {
    padding: 32px 100px;
  }
  .orange_line_box {
    padding: 0px 100px;
  }
  .header_ul {
    gap: 17px;
  }
}
@media only screen and (max-width: 1060px) {
  .header,
  .main_content_box,
  .footer_container {
    padding: 32px 68px;
  }
  .orange_line_box {
    padding: 0px 68px;
  }
}
@media only screen and (max-width: 1190px) {
  .headphones_s1_left_box {
    width: 500px;
    height: 100%;
  }
  .headphones_section1,
  .headphones_section2,
  .headphones_section3 {
    height: 500px;
  }
}
@media only screen and (max-width: 1100px) {
  .shop_group_box {
    flex-direction: column;
  }
  .shop_group_card {
    width: 100%;
  }
  .shop_group_img {
    transform: translateY(-40px);
  }
}
@media only screen and (max-width: 1000px) {
  .headphones_s1_left_box {
    width: 450px;
    height: 100%;
  }
  .headphones_section1,
  .headphones_section2,
  .headphones_section3 {
    height: 450px;
  }
  .best_container {
    flex-direction: column-reverse;
    height: auto;
  }
  .aman1 {
    display: block;
    margin-bottom: 63px;
  }
  .best_img {
    display: none;
  }
  .best_left_box {
    width: 100%;
    text-align: center;
  }
  .best_title {
    width: 573px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .best_text {
    width: 573px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 980px) {
  .header,
  .main_content_box,
  .footer_container {
    padding: 32px 36px;
  }
}
@media only screen and (max-width: 950px) {
  .headphones_s1_left_box {
    width: 400px;
    height: 100%;
  }
  .headphones_section1,
  .headphones_section2,
  .headphones_section3 {
    height: 400px;
  }
}
@media only screen and (max-width: 900px) {
  .headphones_s1_left_box {
    width: 350px;
    height: 100%;
  }
  .headphones_section1,
  .headphones_section2,
  .headphones_section3 {
    height: 350px;
    gap: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .header,
  .main_content_box,
  .footer_container {
    padding: 32px 36px;
  }
  .orange_line_box {
    padding: 0px 36px;
  }
  .header_ul {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .header_left {
    gap: 42px;
    justify-content: start;
    align-items: center;
  }
  .speker_s_box {
    padding: 101px 62px;
    background-position: center;
  }
  .footer_navbar {
    flex-direction: column;
  }
  .logo_footer {
    margin-bottom: 32px;
  }
  .fo_text_lo_div {
    flex-direction: column;
  }
  .social_box {
    height: auto;
    justify-content: end;
  }
  .fo_text_box {
    width: 100%;
    height: auto;
  }
  .headphones_s1_left_box {
    width: 100%;
    height: 352px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .headphones_section1 {
    height: auto;
    flex-direction: column;
    gap: 52px;
    margin-bottom: 120px;
  }
  .headphones_section2 {
    height: auto;
    flex-direction: column-reverse;
    gap: 52px;
    margin-bottom: 120px;
  }
  .headphones_section3 {
    height: auto;
    flex-direction: column;
    gap: 52px;
    margin-bottom: 120px;
  }
  .headphones_s1_right_box {
    text-align: center;
  }
  .headphone_s1_img {
    width: 220px;
    height: 243px;
  }
  .headphones_s1_right_text {
    margin-bottom: 24px;
  }
  .headphones_section_group {
    padding-top: 120px;
  }
}
@media only screen and (max-width: 640px) {
  .best_text,
  .best_title {
    width: 100%;
    word-wrap: break-word;
  }
}
@media only screen and (max-width: 500px) {
  .orange_line_box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer_navbar {
    display: flex;
    justify-content: center;
  }
  .footer_ul {
    flex-direction: column;
    text-align: center;
  }
  .fo_lo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .social_box {
    justify-content: center;
  }
  .fo_text_lo_div {
    text-align: center;
  }
  .fo_text_box {
    margin-bottom: 48px;
  }
}
@media only screen and (max-width: 480px) {
  .headphones_s1_right_box {
    width: 100%;
  }
}
@media only screen and (max-width: 375px) {
  .header,
  .main_content_box,
  .footer_container {
    padding: 32px 24px;
  }
  .orange_line_box {
    padding: 0px 24px;
  }
  .header,
  .main_content_box {
    justify-content: none;
  }
  .left_title1 {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 10px;
    margin-bottom: 16px;
  }
  .left_title2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.29px;
  }
  .left_text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    margin-bottom: 28px;
  }
  .speker_s_box {
    padding: 101px 24px;
    background-position: center;
  }
  .aman1 {
    display: none;
  }
  .best_img {
    display: block;
  }
  .best_title,
  .best_span {
    font-size: 28px;
  }
  .best_text {
    font-size: 15px;
  }
  .best_left_box {
    height: auto;
  }
  .fo_text_lo_div {
    text-align: center;
  }
  .social_box {
    justify-content: center;
  }
  .fo_text_box {
    margin-bottom: 48px;
  }
  .headphone_s1_right_title1 {
    font-size: 14px;
    text-transform: uppercase;
  }
  .headphones_s1_right_title2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
  }
  .headphones_s1_right_text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
  }
  .headphones_title {
    font-family: "Manrope_700";
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
  .line_box {
    width: 100%;
    height: 1px;
    background-color: #4b4b4b;
    margin-bottom: 32px;
  }
  .hero_box {
    padding-bottom: 32px;
  }
}/*# sourceMappingURL=headphones.css.map */